<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>210383683572-afk2bv06hq5ofqb0kvitp30ribjfus7k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.210383683572-afk2bv06hq5ofqb0kvitp30ribjfus7k</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>210383683572-8n72d2uvgojts4bpi1os0739rqn8kbns.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCOjs3HQWST5zSsDKKYpyUN2uZvBwfI-QQ</string>
	<key>GCM_SENDER_ID</key>
	<string>210383683572</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hamapp.monify</string>
	<key>PROJECT_ID</key>
	<string>expense-tracker-4a1a0</string>
	<key>STORAGE_BUCKET</key>
	<string>expense-tracker-4a1a0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<true></true>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:210383683572:ios:d48436991fd91a615a43a1</string>
</dict>
</plist>